.discovr-title {
  font-size: 16px;
  border-bottom: 1px solid #e4e4e7;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.discovr-title .iconfont {
  color: #df3b3b;
  font-size: 16px;
  padding-right: 10px;
}
.margin-bottom30 {
  margin-bottom: 30px;
}
.scrollbar::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 10px;
  /*高宽分别对应横竖滚动条的尺寸*/
  height: 1px;
}
.scrollbar::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 4px;
  background: rgba(120, 134, 142, 0.3);
}
.scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(120, 134, 142, 0.5);
}
.scrollbar::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  border-radius: 4px;
  background: #F9F9F9;
  margin: 0 0;
}
.omit-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
